body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #e9ecef;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(192, 192, 205);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 2px solid #e9ecef;  /* creates padding around scroll thumb */
}

html {
  scroll-behavior: smooth;
}